doctype

html
  
  include .head.pug
  
  body
    
    h1(class='hidden') Hi
    
    nav(class='mainNav')
      h2(class='hidden') nav
      a Hi
      a(href='./html/about.html') I'm Poppy
      a(href='./html/gallery.html') I Make Money
      a Be Me
    
    section(class='content')
      h2(class='hidden') content
      div(class='poppy')
        img(src='./src/images/poppy.gif')
        
        div(class='sub')
          img(class='wants', src='./src/images/Wants.svg')
        
  
