doctype

html
  
  include .head.pug
  
  body
    h1(class='hidden') I'm Poppy
    
    nav(class='mainNav')
      h2(class='hidden') nav
      a(href='../index.html') Hi
      a I'm Poppy
      a I Make Money
      a Be Me
      
    section(class='about')
      h2(class='kawaii')
        img(class='picture', src='../assets/images/poppy.jpg')
        q Barbie, Kawaii, Child
      p(class='desc') Poppy moved to Los Angeles in 2014 to pursue her musical career, teaming up with director and musician Titanic Sinclair to make a series of abstract promotional videos on YouTube. In 2015, Poppy signed to Island Records, and released her debut song under Island, "Everybody Wants to Be Poppy", in June 2015. Poppy performed at the Corona Capital Festival in November 2015. She released her first single, "Lowlife", a month after releasing "Everybody Wants to Be Poppy" and released her first EP, Bubblebath in February 2016, a four-track pop record on Island. Poppy released an experimental ambient music album called 3:36 (Music To Sleep To), composed by Titanic Sinclair and herself, in October 2016. In February 2017, Poppy starred in a series of videos for Comedy Central called "Internet Famous with Poppy".

      p(class='desc') Poppy has described herself as a "kawaii Barbie Child", and has said that her style is inspired by that of J-pop artists. She has described her music style as "music [that] makes you want to rule the world." Poppy recalls beginning to write music in 2012. She has said before that a large inspiration of hers, along with her favorite artist, is Cyndi Lauper. She has also cited Elvis Presley as a musical inspiration.

      p(class='desc') Poppy's real name and identity are kept guarded, with That Poppy explaining, "I don't want people to talk about how old I am; I want them to talk about what I'm making [...] People, especially nowadays, are so obsessed with knowing everything. They'll have to invest their time in finding it."
      
