html(lang="en")
  
  include .head-money.pug
  
  body
    h1(class='hidden') I Make Money
    
    nav(class='mainNav')
      h2(class='hidden') nav
      a(href='../index.html') Hi
      a(href='./about.html') I'm Poppy
      a I Make Money
      a Be Me
      
    section(class='gallery')
      h2(class='videos') Poppy's videos
      
      iframe(width="560" height="315" src="https://www.youtube.com/embed/fS9f6_i6v3Q?rel=0" frameborder="0" allowfullscreen)
      
